Source: libcommons-cli-java
Section: java
Priority: optional
Maintainer: Debian Java Maintainers <pkg-java-maintainers@lists.alioth.debian.org>
Uploaders:
 Ludovic Claude <ludovic.claude@laposte.net>,
 tony mancill <tmancill@debian.org>,
 Emmanuel Bourg <ebourg@apache.org>
Build-Depends:
 debhelper-compat (= 13),
 default-jdk,
 javahelper,
 junit4,
 maven-debian-helper (>= 2.2~)
Standards-Version: 4.6.2
Vcs-Git: https://salsa.debian.org/java-team/libcommons-cli-java.git
Vcs-Browser: https://salsa.debian.org/java-team/libcommons-cli-java
Homepage: http://commons.apache.org/cli/

Package: libcommons-cli-java
Architecture: all
Depends: ${misc:Depends}
Description: Command line arguments and options parsing library
 The Apache Commons CLI library provides an API for parsing command line options
 passed to programs. It's also able to print help messages detailing the options
 available for a command line tool.
 .
 Commons CLI supports different types of options:
 .
  * POSIX like options (ie. tar -zxvf foo.tar.gz)
  *  GNU like long options (ie. du --human-readable --max-depth=1)
  *  Java like properties (ie. java -Djava.awt.headless=true Foo)
  *  Short options with value attached (ie. gcc -O2 foo.c)
  *  long options with single hyphen (ie. ant -projecthelp)
